.clearfix
.supporter-logo= link_to image_tag('supporters/enspiral.png'), 'http://www.enspiral.com', target: '_blank'
.supporter-logo= link_to image_tag('supporters/instedd.jpg'), 'http://www.ilabsoutheastasia.org', target: '_blank'
.supporter-logo= link_to image_tag('supporters/worldeducation_logo.jpg'), 'http://cambodia.worlded.org', target: '_blank'
.supporter-logo= link_to image_tag('supporters/kape_logo.jpg'), 'http://www.kapekh.org', target: '_blank'
.pull-right.notes
  This project was created as part of the GFN Chalenge
  = link_to image_tag('gfn.gif'), 'http://www.gfnchallenge.org'
